@{
    ViewData["Title"] = "Index";
}



<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3 class="w-75 p-3">Task List</h3>
            </div>
            <div class="col-md-2 float-right">
                <a asp-action="Create" class="btn btn-primary">
                    Add
                </a>

            </div>
        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-striped" id="tblTasks">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Due date</th>
                        <th scope="col">has attachment</th>
                        <th scope="col">Current status</th>


                    </tr>
                </thead>
            </table>

        </div>

    </div>
</div>

@section Scripts {

    <partial name="_datatablesScripts" />

    <script>

        $(function () {
            $('#tblTasks').dataTable({
                "ajax": {'url':'@Url.Action("list-json")'} ,
                "processing": true,
                "serverSide": true,

                "columnDefs": [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                }],

                "columns": [

                    { "data": "id", "name": "id", "autoWidth": true },
                    { "data": "title", "name": "title", "autoWidth": true },
                    { "data": "projectName", "name": "projectName", "autoWidth": true },
                    { "data": "createdDate", "name": "createdDate", "autoWidth": true },
                    { "data": "dueDate", "name": "dueDate", "autoWidth": true },
                    { "data": "hasAttachment", "name": "hasAttachment", "autoWidth": true },
                    { "data": "currentStatus", "name": "currentStatus", "autoWidth": true },

                
                ]

            }
            );
        }
        );
    </script>
}

@section Styles {

    <partial name="_datatablesStyles" />
}
